<%- model_class = Fsstate -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @fsstate.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:acronym) %>:</strong></dt>
  <dd><%= @fsstate.acronym %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fscountries_id) %>:</strong></dt>
  <dd><%= @fsstate.fscountries_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              fsstates_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_fsstate_path(@fsstate), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              fsstate_path(@fsstate),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
